#org_body{
    border:1px solid black;
    margin: auto;
}
#table_caontainer{
    width: 50%;
}
#table{
    border:1px solid black;
    border-collapse: collapse;
    margin:auto;
    margin-top:20px;
}
td,th{
    border:1px solid black;
    height: 20px;
    padding:2px;
}
#column1{
    width:150px;
}
#column2{
    width:300px;
}
#event_header{
    height:150px;
    border:1px solid black;
    background-color: skyblue;
}
#title_box{
    display:flex;
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
}
#detail_body{
    display:flex;
    background-color: rgb(222, 237, 243);
    border:1px solid black;
}
#social_events{
    display: flex;
    border:1px solid black;
}
#affected,#help_requested,#organizations{
    border:1px solid black;
    margin:2px;
    min-height: 200px;
}
#affected{
    width:40%;
}
#help_requested{
    border: 1px solid black;
    padding:10px;
    margin:3px;
    width:50%;
}
#organizations{
    width:30%;
}

/*////////////////Help Requested People/////////////*/

.dis_container{
    border:1px solid black;
    border-collapse: collapse;
}
.dis_container table{
    position: relative;
    left: 10px;
    padding:0px;
    border-collapse: collapse;
}
.dis_container td{
    border:0px solid black;
    padding: 0px;
    border-spacing: 0;
    width:300px;
}
.vil_container td{
    border-bottom: 0;
    width: 100%;
}
.dis_container span{
    display: block;
    background-color: white;
    font-size: 17px;
    font-weight: 250;
    width: 200px;
    /*height: 25px;*/
    padding: 2px;
    border: 1px solid black;
    cursor: context-menu;
    
}
.vil_container{
    display:none;
}
.str_container{
    display:none;
}
.per_container{
    display: none;
}
.org_event_active{
    display: block;
}
.help_check{
    margin:auto;
    margin-left: 10px;
}

/*------------------help popup ------------------*/
.help_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 500px;
    min-height: 250px;
    margin: 0 auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 7;
}
.active_popup{
    transform: translate(-50%, -50%) scale(1);
}
.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 6;
}
.active_overlay{
    opacity: 1;
    pointer-events: all;
}