#org_title{
    height:150px;
    border:1px solid black;
    display: flex;
    background-color: rgb(179, 219, 235);
    
}
#title_margin{
    min-width:180px;
    min-height:150px;
}
#org_logo{
    height:120px;
    width:120px;
    position: relative;
    top:40px;
    left:40px;
    border:1px solid black;
    background-color: rgb(224, 233, 247);
}

#logo{
    height:120px;
    width:120px;
    position: absolute;
    top:0px;
    left:0px;
    
}
#title_sub{
    width:100%;
    height:150px;
}
#org_name{
    height:75px;
    font-size: 30px;
    display:flex;
}
#org_name_h2{
    margin-left: 20px;
    margin-top: 0px;
}
#edit_btn_container{
    margin:auto;
    margin-right: 15px;
    margin-top: 10px;
}
#edit_btn, #membership_btn{
    margin-top: 0px;
    width:100px;
    height:30px;
    background-color: skyblue;
}

#discription{
    margin-left: 30px;
}
#org_button_container, #membership_btn_container{
    display:flex;
    margin:auto;
    margin-left:200px;
    margin-top:10px;
    margin-bottom:10px;
}
#org_button_container button, #membership_btn_container button{
    height:25px;
    width:100px;
}
#event_list_container{
    width:100px;
    height:0px;
    z-index: 1;
    position:absolute;
    font-size: 0;
}
#event_list_container button{
    height: 25px;
    min-width: 250px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.5s;
}
#event_list_container button:hover{

    transform:scale(1.05);
    background-color: rgb(221, 221, 221);
}