body {
    font-family: "Open-sans,san-serif";
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    margin: auto;
    height: 300px;
    position: relative
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #474e5d;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
 
.row{
    height: 300px;
    margin: auto;
    font-family: monospace;
}

.avatar_1{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
h3,p{
    text-align: center;
    
}
.img_con{
    margin:auto;
    text-align: center;
}

