#table_caontainer {
    width: 60%;
    margin: auto;
    margin: 3px;
    margin: auto;
    margin-top: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: inset 0 0 10px #d8e0e7;
    background: white;
}


.head {
    background-color: #0c7dff47;
    border: 1px solid #d8e0e7;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    height: 37px;
    line-height: 1.8;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
}

#view_event_table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    margin: 0;
    width: 100%;
    background: transparent;
}

td.view_event_td, #column2 {
    border: 1px solid #d8e0e7;
    text-align: left;
    font-family: "Open Sans",sans-serif;
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    color: #6b7c93;
}