#msg_b{
	width: 80%;
	font-size:20px;
	resize: horizontal;
}  
#feedback{
	background:#F08080;
	width: 80%;
	font-size:15px;
	padding:15px;
	height:400px;
	overflow:auto;
	max-width:100%;
	
}   
#time{
	float:right;
}
#pdate{
	text-align:center;
}
#msg_box{ 
	width:100%;
	background:#5F9EA0;
	margin-top=30px;

}
#mymsg{
	text-align:right;
	padding=10px;
}
