#main_fund_form_body{ 
        width: 578px;
        padding: 0px;
        background-color: #ffffff;
        z-index: 4;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin: 0 auto;
        font-weight: 400;
        font-family: "Open Sans",sans-serif;
        color: #393939;
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 300px;
} 

#sub_fund_form_body{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #393939;
    width:580px;
    padding-left: 13px;
    padding: 13px;
}

.form_header_div{
    background-color: #0c7dff47;
    height: 70px;
    line-height: 1.5;
    font-weight: 600;
    font-size: 25px;
    padding: 13px;
    color: #393939;
    text-align: center;
    font-weight: 400;
    font-family: "Open Sans";
}

.sub_head{
    min-width: 150px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #393939;
    font-size: 16px;
    margin-left: 13px;
}

.create_fund_label{
    color: #393939;
    font-weight: 400;
    font-size: 20px;
    min-width: 220px;
    margin: 0px;
    margin-bottom: 15px;
    font-family: "Open Sans";
}

.create_fund_input[type=text], .create_fund_input[type=tel],.create_fund_input[type=email] {
    padding-left: 10px;
    font-family: "Open Sans";
    min-width: 330px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #2980B9;
    color: #393939;
}

.create_fund_textarea{
    font-family: "Open Sans";
    min-width: 330px;
    height: 80px;
    border: 1px solid #2980B9;
    color: #393939;
    border-radius: 5px;
    resize: none;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
}

.create_fund_select{
    font-family: "Open Sans",sans-serif;
    padding: 0px;
    color: #393939;
    min-width: 330px;    height: 30px;
    margin-left: 0px;
    border: 1px solid #2980B9;
}

.text_input_fund[type=text]{
    font-family: "Open Sans";
    height: 30px;
    border: 1px solid #2980B9;
    color: #393939;
    max-width: 250px;
    min-width: 235px;
    width: 150px;
    font-size: 18px;
    padding-left: 10px;
}

.detail_div{
    margin-top: 10px;
    height: 15px;
    display: flex;
}
.fund_name_div,.purpose_div,.sel_org_div,.service_area_div,.descrip_div{
    display: flex;
}
.sel_org_div{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.expects_div{
    display: block;
}
.error{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: red;
    display: block;
    padding: 0px 0 4px 2px;
}
input.ng-touched.ng-invalid,input:required.ng-touched.ng-empty{
    border: 2px solid #b93a29;
    background-color: #b93a294d;
}

.create_fund_btn_container{
    display: flex;
    margin-bottom: 0px;
    text-align: center;
}

.create_fund_submit_btn,.create_fund_cancel_btn{
    font-family: "Open Sans";
    margin: 0px;
    font-size: 25px;
    width: 289px;
    border-radius: 0;
    border: 0px;
    background-color: #0c7dff47;
    height: 50px;
    padding: 0px;
    color: #393939;
    font-weight: 400;
}
.create_fund_submit_btn{
    border-right: 1px solid white;
}

.input_container{
    font-size: 0;
    margin-bottom: 10px;
}

.input_sub_container{
    display: flex;
    margin-bottom: 5px;
}

.add_rem_btn{
    color: white;
    border: none;
    padding: 0px;
    background-color: #2980B9;
    height: 30px;
    font-size: 18px;
    width: 81px;
    font-family: "Open Sans";
}

.purpose_div{
    display: flex;
}

.for_event_div{
    margin-bottom: 5px;
}


/*custom radion button*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px; 
    height: 18px;
    border: 1px solid #2980B9;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #2980B9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*        Custom dropdown                */
.custom-select {
    margin-top: 0px;
    width: 260px;
    position: relative;
    font-family: "Open Sans",sans-serif;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #2980B9;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 8px;
    right: 7px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 2px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    width: 230px;
    height: 25px;
    font-family: "Open Sans";
    position: relative;
    color: #ffffff;
    /* padding: 8px 10px; */
    line-height: 1;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  .select-selected{
    width: 330px;
    border-radius: 5px;
    line-height: 0.5;
    height: 30px;
    font-family: "Open Sans";
    position: relative;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
.select-items {
    position: absolute;
    background-color: #2980B9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-left: 100px;
    width: 230px;  
}
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  

/*Districts select drop down button styles of Volunteer form*/
.dropbtn {
    border-radius: 5px;
    width: 330px;
    color: white;
    background-color: #2980B9;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-left: 0px;
    padding-left: 10px;
    margin-top: 0px;
    font-family: "Open Sans",sans-serif;
    text-align: left;;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    margin-left: 180px;    
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #6b7c93;
    text-decoration: none;
    display: block;
    font-family: "Open san"sans-serif;
}
.dropdown-content.drp.show{
    width: 150px;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
    z-index: 4;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 10px;
    color: black;
    font-family: "Open Sans";
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    padding: 0;
    position: absolute;
    opacity: 0;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    height: initial;
    width: initial;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* Show the checkmark when checked */
.container input:checked + .checkmark:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    color: #393939;
}

/* Style the checkmark/indicator */
.container .checkmark:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    color: #393939;
    margin-top: 5px;
}

/*-------------------------------------------------*/
