#form_main_body {
    width: 578px;
    padding: 0px;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #393939;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 300px;
    position: relative;
    
}

#form_sub_body {
    color: #393939;
    width: 580px;
    margin: 0;
    padding: 10px;
}

.form_header_div {
    background-color: #0c7dff47;
    height: 70px;
    font-size: 25px;
    padding: 13px;
    color: #393939;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
}

.sub_head {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #393939;
    font-size: 16px;
    margin-left: 13px;
}

.create_org_btn_container {
    display: flex;
    margin-bottom: 0px;
    text-align: center;
}

.create_org_submit_btn,
.create_org_cancel_btn {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    font-size: 20px;
    width: 289px;
    border-radius: 0;
    border: 0px;
    background-color: #0c7dff47;
    height: 50px;
    padding: 0px;
    color: #393939;
    font-weight: 400;
    cursor: pointer;
}

.submitt {
    border-right: 1px solid white;
}

.create_org_label {
    color: #393939;
    font-weight: 400;
    font-size: 18px;
    min-width: 200px;
    margin: 0px;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}

.create_org_input[type=text],
.create_org_input[type=tel],
.create_org_input[type=email] {
    font-family: "Open Sans", sans-serif;
    min-width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2980B9;
    color: #393939;
    padding-left: 10px;
}

.create_org_textarea {
    font-family: "Open Sans", sans-serif;
    min-width: 300px;
    height: 80px;
    border: 1px solid #2980B9;
    color: #393939;
    padding-left: 10px;
    resize: none;
    border-radius: 5px;
    outline: none;
}

.create_org_select {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    color: #393939;
    min-width: 260px;
    height: 30px;
    margin-left: 0px;
    border: 1px solid #2980B9;
}

.error {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: red;
    display: block;
    padding: 0px 0 4px 2px;
}

.name_div {
    display: flex;
    margin-top: 15px;
}

.mem_div,
.dis_div,
.email_div,
.phone_div,
.leader_div,
.co_leader_div {
    display: flex;
}

.dis_div {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leader_nic_div {
    display: none;
}

.discrip_div {
    display: flex;
    margin-bottom: 10px;
}

.detail_div {
    height: 15px;
    display: flex;
}

.detail_div label {
    min-width: 150px;
}

.co_leader_div {
    margin-top: 10px;
}

.input_container {
    font-size: 0;
}

.input_sub_container {
    display: flex;
}

.add_rem_btn {
    color: white;
    border: none;
    border-bottom: 0.5px solid white;
    padding: 0px;
    background-color: #2980B9;
    height: 30px;
    width: 50px;
    margin-left: 2px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}

.text_input {
    width: auto;
    height: auto;
}


/*checkbox--------------------------------------*/

.form-group {
    margin-top: 15px;
    display: inline-block;
    text-align: center;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    color: #393939;
    font-weight: 400;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    color: #393939;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    color: #393939;
}


/*custom radion button*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #2980B9;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #2980B9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*        Custom dropdown                */

.custom-select {
    width: 260px;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: #2980B9;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 7px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    line-height: 1;
    position: relative;
    color: #ffffff;
    padding: 8px 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #2980B9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-left: 140px;
    width: 160px;
    height: 175px;
    overflow: auto;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/*               Angular Form validation                     */

input.ng-touched.ng-invalid,
input:required.ng-touched.ng-empty {
    border: 2px solid #b93a29;
    background-color: #b93a294d;
}

/*              /angular validation                        */

/*               form loader            */

#form_loader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff8a;
    display: none;
}

.lds-default {
    display: block;
    /* position: relative; */
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*            /form loader              */

/*            coleader, member          */

.remove_marker{
    cursor: pointer;
    float: right;
    margin: auto;
    margin-right: 20px;
}

/*           /coleader, member          */

/*           froms                     */

#coleaderForm, #memberForm, #add_profile_cont, #add_cover_cont{
    display: none;
}

/*           /forms                    */

.leader_name{
    position: relative;
    font-family: "Open Sans", sans-serif;
    min-width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2980B9;
    color: #393939;
}

.coleader_btn_container,.member_btn_container{
    display: flex;
}

#profile_image_container{
    height: 300px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #6b7c93;
}
.post_btn{
    background: blue;
    width: 120px;
    height: 30px;
    color: white;
    line-height: 0.7;
    margin: 10px 5px 10px 450px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}