#title{
    height:30px;
    border:1px black;
    border-bottom: 0;
    padding:4px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.table_div, .old_promise_div, .old_promise_edit{
    border:1px solid black;
    width:580px;
    margin:auto;
    border-radius: 12px;
    padding: 10px;
}

.form_div {
    border-color: black;
    border-radius: 12px;
    margin: auto;
    padding: 40px;


}
#promise_body{
    margin:auto;
    padding:15px;
    font-size: 18px;
}
#pro_submit_but{
    border-color:1px black;
    border-radius: 12px;
    padding: 6px;
    margin-left: 50px;
}
#promise_td{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}
.my_promise_div{
    text-align: center;
}
#column{
    border: 1px black;
}
#fudraising_detail, .my_promise_div{
    text-align: center;
}
.old_promise_edit{
    display: none;
}
.show_edit_divi{
    display: block;
}