.titlebar{
    display: flex;
    height:40px;
    background-color: rgb(173, 219, 247);
    border: 1px solid mediumblue;
    border-bottom: 0px;
}
.username label{
    margin-top:3px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.logout{
    align-content: flex-end;
    border-radius: 5px;
    margin: auto;
    text-align: end;
    padding-right: 5px;
}
.logo_box{
    width: 45px;
}
.logo{
    width: 35px;
    margin:auto;
    margin-top: 1px;
}

.username{
    width: 75%;
}
.logout{
    width:25%;
    margin-right: 0px;
}
.menubar{
    min-height:30px;
    border:1px solid black;
    border-top: 0px;
    font-size: 0px;
    background-color: rgb(173, 219, 247);
}

a{
    text-decoration: none;
}
button.menubar_buttons {
    height:30px;
    max-width:15%;
    min-width:130px;
    width:12.5%;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: rgb(173, 219, 247);
    box-sizing: border-box;
    margin: 0px;
    font: 550 13.3333px Arial;
    padding: 1px 6px;
    border-width: 1px;
    border-top:0px;
    border-style: double;
    border-color: rgb(208, 232, 248);
    border-image: initial;
}
x{
    color:rgb(16, 134, 163);
}
