button,input{
    outline: none;
}
.sticky{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
    padding: 0px 8px 0 8px;
    z-index: 3;
    background-color: white;
}
#titlebar{
    display: flex;
    height:40px;
    background-color:white;
    border: 1px solid mediumblue;
    border-bottom: 0px;
}
.username label{
    margin-top:3px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.logout{
    align-content: flex-end;
    border-radius: 5px;
    margin: auto;
    text-align: end;
    padding-right: 5px;
}
.logo_box{
    width: 45px;
}
.logo{
    width: 35px;
    margin:auto;
    margin-top: 1px;
}

.username{
    width: 75%;
}
.logout{
    width:25%;
    margin-right: 0px;
}
#menubar{
    text-align:center; 
    min-height:30px;
    border:1px solid black;
    border-top: 0px;
    font-size: 0px;
    background-color:white;
}
.dropdown_cont{
    float: right;
}
/* .menubar_buttons_cont{
    margin:5px;
} */
a{
    text-decoration: none;
}
.menubar_buttons {
    /* height:100px !important;
    max-width:15%;
    min-width:130px !important;
    width:12.5% !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    margin: 0px;
    font: 550 13.3333px Arial;
    padding: 1px 6px;
    border-width: 1px;
    border-top:0px;
    border-style: double;
    border-color: rgb(208, 232, 248);
    border-image: initial; */
    display: inline-block;
}

x{
    color:rgb(16, 134, 163);
}
.loader{
    border:2px solid rgb(202, 202, 202);
    border-radius: 50%;
    border-top: 2px solid rgb(65, 65, 65);
    width:10px;
    height:10px;
    margin:5px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#event_container,#menubar_org_container,#notification_container{
    display:inline-block;
    position: absolute;
    margin-top: 8px;
    border: 1px solid black;
    transform: translate(90px,0);
}
.menubar_button_container{
    display:inline;
}

/*-----------------nav setting-----------------------*/
#main_body{
    display: flex;
}
#sub_body{
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
.all_a, a.all_a:visited, a.all_a:active{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.menu_icon:hover {
    cursor: pointer;
    background-color: #6f7e6f;
    } 
    
    .font_aws{
        display: inline-block;
    }
    .menu_icon.active:hover {
    cursor: pointer;
    background-color: blue;
    } 

    .menu_icon{
    color: blue;
    font-size:32px;
    padding:5px
    }
    .active{
    background-color:blue;
    color:white;
    }
    
    .menu_icon_tooltip {
    position: relative;
    display: inline-block;
    }

    .menu_icon_tooltip .menu_icon_tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 13px;
    
    /* Position the menu_icon_tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    transition-delay: 500ms;
    }

    .menu_icon_tooltip:hover .menu_icon_tooltiptext {
    visibility: visible;
    }

.dropdown_container{
    width:100px;
    height:100px;
    border:1px solid;
    display:none;
    font-size: 20px;
}
.dropdown_container_active{
    display:block;
}
.dropdown_btn{
    background:blue;
    border-radius:50%;
    width:35px;
    height:35px;
    color:white;
    text-align:center
}
.dropdown_btn_active{
    background:white;
    color:blue;
    border:1px solid blue;
}