#home_sub_body{
    display: flex;
    margin: auto;
}
.person_detail{
    width: 300px;
    /* height: 120px; */
    margin: auto;
    margin-top: 16px;
    background: white;
    /* border: 1px solid black; */
    /* padding: 5px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#intro_heading{
    background-color: #d8e0e7;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    /* margin: auto; */
    /* margin-top: 16px; */
    color: #6b7c93;
    font-size: 30px;
    font-weight: 800;
}
.home_table{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    margin: 0;
    width: 100%;
    background: transparent;
}
.home_view_td{
    border: 1px solid #d8e0e7;
    text-align: left;
    font-family: "Open Sans",sans-serif;
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    color: #6b7c93;
}
.title{
    margin: auto;
    margin-top: 16px;
    height: 350px;
    width: 900px;
    position: relative;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#gradient_div{
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition-duration:  2s;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
     
}
#cover{
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
    opacity: 1;
}

.title:hover #gradient_div{
   /* animation-name: move;
    animation-duration: 4s;
    animation-direction: reverse; */
    height: 190px; 
   
}
@keyframes move {
    0% {opacity: 1;}
    33% {opacity: 0.3;}
    66% {opacity: 0.3;}
    100% {opacity: 1;}
}
#cover_photo{
    width: 100%;
}
#profile_edit{
    position: absolute;
    height: 170px;
    width: 200px;
    left: 0;
    top: 0;

}
.my_profile_pic{
    height: 150px;
}
.profile_container{
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
    overflow: hidden;
}

#edit_cover_but, #edit_profile_btn{
    position: absolute;
    background-color: #d8e0e7;
    border-radius: 12px;
    border: none;
    padding: 7px 9px;
    font-size: 14px;
    cursor: pointer;
    display: flex;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#edit_cover_but:hover, #edit_profile_btn:hover{
    background-color: #c1d0dd;
}
#edit_profile_btn{
    bottom: 18px;
    left: 108px;
}
#edit_cover_but{
    bottom: 10px;
    left: 790px;
}
#name_container{
    position: absolute;
    bottom:10px;
    left: 27px;
    /*opacity: 0; 
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    text-align: center;
    order: -1; 
}
#name{
    font-weight: 700;
    font-size: 50px;
    font-family: Open Sans,sans-serif;
    color: white;
    transition: color 3s;
}
.title:hover #name{
    color: #6b7c93;
}
#intro_name{
    font-size: 20px;
    font-weight: 600;
}
#edit_info_button{
    float: right;
    margin: 5px;
    background-color: #d8e0e7;
    border-radius: 12px;
    border: none;
    padding: 7px 9px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit{
    width:100px;
    height:30px;
    margin:auto;
    align-content: stretch;
}
#home_post{
    margin: auto;
}
#my_posts{
    background-color: #d8e0e7;
    width: 550px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 16px;
    color: #6b7c93;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }
.fa{
    font-weight: 600;
    margin-right: 5px;
}