.table_marked_ap {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table_marked_ap_th, .table_marked_ap_td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table_marked_ap_tr:hover {
      background: #c9c9c9;
    }
    .our_suggest_cont{
      display: flex;
      flex-flow: row;
      width: 100%;
      margin: 5px;
      background: rgb(242 244 246);
    }
    .our_suggest_table_cont{
      display: inline-block;
      width: 550px;
      height:400px;
    }
    .our_suggest_map_cont{
      display: inline-block;
      width:50%;
    }