#org_sub_body {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border-top: 2px solid #d8e0e7;
    margin: 0 10px 0 5px;
}
#org_event_table_caontainer, #help_requested{
    margin: auto;
    height: 378px;
    width: 49.5%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */background: white;
    position: relative;
    box-shadow: inset 0 0 10px #d8e0e7;
}
#org_view_event_table, .dis_container{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    width: 100%;
    background: transparent;
}
.org_event_head, .org_event_requests{
    background-color: #0c7dff47;
    border: 1px solid #d8e0e7;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    min-height: 37px;
    line-height: 1.8;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
    font-weight: 600;
}
td.org_view_event_td, #column2{
    word-break: break-all;
    border: 1px solid #d8e0e7;
    text-align: left;
    font-family: "Open Sans",sans-serif;
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    color:#6b7c93;
}
/*td,th{
    border:1px solid black;
    height: 20px;
    padding:2px;
}*/ 

#event_header{
    height: 150px;
    border: 1px solid #d8e0e7;
    background-color: #2980B9;
    width: 99.5%;
    margin: auto;
}
#title_box{
    color: white;
    margin-top:20px;
    margin-left: 10px;
    font-size: 30px;
}
#org_detail_body{
    display:flex;
    flex-flow: wrap row;
}
#social_events{
    display: flex;
    margin: 5px 0;
}

#affected, #organizations{
    margin: auto;
    height: 378px;
    width: 49.5%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */background: white;
    position: relative;
    box-shadow: inset 0 0 10px #d8e0e7;
}


/*////////////////Help Requested People/////////////*/
.request_people_div{
    padding: 5px 0;
    width: 99%;
    height: 99%;
}
.dis_con_div{
    height: 80%;
    overflow: auto;
    width: 99%;
}
.dis_container{
    max-width: 400px;
    margin: auto;
    border-collapse: separate;
    position: relative;
}
.dis_container table{
    border-collapse: collapse;
}
.dis_container td{
    padding: 0px;
    border-spacing: 0;
}
.vil_container td{
    border-bottom: 0;
    width: 250px;
}
.dis_container span{
    display: block;
    font-size: 17px;
    font-weight: 250;
    /* width: 250px; */
    /* height: 25px; */
    padding: 2px;
    cursor: context-menu;
}
.dis_table_data{
    border: 1px solid #d8e0e7;
    border-radius: 8px;
    background-color: #f2f2f2;
}
.dis_data{
    border-bottom: 1px solid #d8e0e7;
    border-radius: 8px 8px 0 0;
}
/*.dis_container span.arrow{
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
}
.dis_container span.arrow:focus{
    background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}*/
.village_div{
    max-height: 180px;
    overflow: auto;
    padding: 0 0 5px 0;
    background: white;
    border-radius: 0 0 8px 8px;
}
.vil_container{
    display:none;
    width: 250px;
}
.str_container{
    display: none;
    padding-left: 15px;
    width: 250px;
    margin: 0;
}
.street_data{
    width: 235px;
}
.per_container{
    display: none;
    padding-left: 15px;
    width: 235px;
}
.org_event_active{
    display: block;
}
.help_check{
    margin: auto;
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.fa-caret-right, .fa-caret-down{
    margin-left: 5px;
}
.requester{
    margin-left: 30px;
}
#promise_buttton{
    height: 38px;
    width: 50%;
    border: none;
    margin: auto;
    background-color: #0c7dff47;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color: #6b7c93;
    cursor: pointer;
}
/*------------------help popup ------------------*/
.help_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 500px;
    min-height: 250px;
    margin: 0 auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 7;
}
.active_popup{
    transform: translate(-50%, -50%) scale(1);
}
.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 6;
}
.active_overlay{
    opacity: 1;
    pointer-events: all;
}
#promise_btn_container{
    float: right;
    right: 10px;
    top: 10px;
    position: relative;
}
.a_button{
    margin-top: 30px;
    display: block;
    width: 140px;
    height: 40px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #6b7c93;
    font-size: 15px;
    font-family: "Open sans",sans-serif;
    font-weight: 700;
}
.toggle.btn {
    min-width: 59px;
    min-height: 36px;
}

.org_event_area_select{
    outline: none;
    margin-left: 10px;
    display: block;
    margin-top: 40px;
    width: 142px;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    background: white;
    padding: 10px;
    font-family: "Open sans",sans-serif;
    font-weight: bold;
    color: #6b7c93;
    cursor: pointer;
}
.org_event_area_select_div{
    float:left;
}
.org_event_area_select_opt{
    display: block;
    width: 140px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    float: left;  
}

.org_event_area_select_opt:hover{
    cursor: pointer;
}
.promise_header{
    height: 40px;
    font-family: "Open sans",sans-serif;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #393939;
}
.input_container{
    padding: 10px;
}
.input_sub_container{
    border: 1px solid #d8e0e7;
    display: flex;
    width: 370px;    
    margin-bottom: 2px;
}
.text_input {
    margin: 2px;
    width: 90px;
    padding-left: 5px;
    max-width: 120px;
    border: none;
    border-right: 1px solid #d8e0e7;
}
.add_rem_btn{
    color: white;
    border: none;
    padding: 0px;
    font-size: 16px;
    background-color: #2980B9;
    height: 36px;
    width: 80px;
    font-family: "Open Sans";
    cursor: pointer;
}

.add_to_all{
    margin: 10px;
    color: white;
    border: none;
    /* border-radius: 2px; */
    padding: 0px;
    font-size: 16px;
    /* border: 1px solid BLACK; */
    background-color: #2980B9;
    height: 36px;
    width: 75px;
    font-family: "Open Sans";
    cursor: pointer;
}

.note{
    color: #6b7c93;
    margin: 10px;
    width: 370px;
    resize: none;
    outline: none;
    border: 1px solid #d8e0e7;
    /* padding: 2px; */
    height: 70px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding-left: 10px;
}

.promise_table_body{
    margin: 10px;
}
.promise_table{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  .promise_table td{
    border: 1px solid #d8e0e7;
    font-family: "Open Sans";
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    color: #6b7c93;
    vertical-align: middle;
}
  .promise_body{
    padding: 15px;
    margin: auto;
  }
  
  .first_head th{
      height: 50px;
      font-size:25px;
      text-align: center;
      background-color: #2980B9;
      color: #ffffff;
      font-weight: 700;
      font-family: "Open Sans";
      font-weight: 600;
      cursor: default;
      border: 1px solid #d8e0e7;
  }
  
  .second_head th{
    border-right: 1px solid black;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #0c7dff47;
    color: #6b7c93;
    font-weight: 700;
    font-family: "Open Sans";
    border: 1px solid #d8e0e7;
  }
  
.note_td_edit{
    color: #6b7c93;
    border: none;
    outline: none;
    height: 100px;
    resize: none;
    width: 100px;
}
  .submit_all_btn{
      background-color: #0c7dff47;
      color: #393939;
      height: 50px;
      width: 25%;
      color: #6b7c93;
      border: none;
      font-size: 25px;
      cursor: pointer;
  }
