#org_body{
    border:1px solid black;
    margin: auto;
}
#table_caontainer{
    width: 50%;
}
#table{
    border:1px solid black;
    border-collapse: collapse;
    margin:auto;
    margin-top:20px;
}
/*td,th{
    border:1px solid black;
    height: 20px;
    padding:2px;
}*/ 
#column1{
    width:150px;
}
#column2{
    width:300px;
}
#event_header{
    height:150px;
    border:1px solid black;
    background-color: #2980B9;
}
#title_box{
    color: white;
    margin-top:20px;
    margin-left: 10px;
    font-size: 30px;
}
#detail_body{
    display:flex;
    background-color: rgb(222, 237, 243);
    border:1px solid black;
}
#social_events{
    display: flex;
    border:1px solid black;
}
#affected,#help_requested,#organizations{
    border:1px solid black;
    margin:2px;
    min-height: 200px;
}
#affected{
    width:40%;
}
#help_requested{
    border: 1px solid black;
    padding:10px;
    margin:3px;
    width:50%;
}
#organizations{
    width:30%;
}

/*////////////////Help Requested People/////////////*/

.dis_container{
    border:1px solid black;
    border-collapse: collapse;
}
.dis_container table{
    position: relative;
    left: 10px;
    padding:0px;
    border-collapse: collapse;
}
.dis_container td{
    border:0px solid black;
    padding: 0px;
    border-spacing: 0;
    width:300px;
}
.vil_container td{
    border-bottom: 0;
    width: 100%;
}
.dis_container span{
    display: block;
    background-color: white;
    font-size: 17px;
    font-weight: 250;
    width: 200px;
    /*height: 25px;*/
    padding: 2px;
    border: 1px solid black;
    cursor: context-menu;
    
}
.vil_container{
    display:none;
}
.str_container{
    display:none;
}
.per_container{
    display: none;
}
.org_event_active{
    display: block;
}
.help_check{
    margin:auto;
    margin-left: 10px;
}

/*------------------help popup ------------------*/
.help_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 500px;
    min-height: 250px;
    margin: 0 auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 7;
}
.active_popup{
    transform: translate(-50%, -50%) scale(1);
}
.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 6;
}
.active_overlay{
    opacity: 1;
    pointer-events: all;
}
#promise_btn_container{
    float: right;
    right: 10px;
    top: 10px;
    position: relative;
}
.a_button{
    margin-top: 30px;
    display: block;
    width: 140px;
    height: 40px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #393939;
    font-size: 15px;
    font-family: "Open sans",sans-serif;
    font-weight: 700;
}
.toggle.btn {
    min-width: 59px;
    min-height: 36px;
}

.org_event_area_select{
    outline: none;
    margin-left: 10px;
    display: block;
    margin-top: 40px;
    width: 142px;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    background: white;
    padding: 10px;
    font-family: "Open sans",sans-serif;
    font-weight: bold;
    color: #6b7c93;
}
.org_event_area_select_div{
    float:left;
}
.org_event_area_select_opt{
    display: block;
    width: 140px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    float: left;
}
.promise_header{
    height: 40px;
    font-family: "Open sans",sans-serif;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #393939;
}
.input_container{
    padding: 10px;
}
.input_sub_container{
    border: 1px solid #d8e0e7;
    display: flex;
    width: 430px;    
    margin-bottom: 2px;
}
.text_input {
    margin: 2px;
    width: 120px;
    padding-left: 5px;
    max-width: 120px;
    border: none;
    border-right: 1px solid #d8e0e7;
}
.add_rem_btn{
    color: white;
    border: none;
    padding: 0px;
    font-size: 16px;
    background-color: #2980B9;
    height: 36px;
    width: 80px;
    font-family: "Open Sans";
}

.add_to_all{
    margin: 10px;
    color: white;
    border: none;
    /* border-radius: 2px; */
    padding: 0px;
    font-size: 16px;
    /* border: 1px solid BLACK; */
    background-color: #2980B9;
    height: 36px;
    width: 75px;
    font-family: "Open Sans";
}

.note{
    color: #6b7c93;
    margin: 10px;
    width: 430px;
    resize: none;
    outline: none;
    border: 1px solid #d8e0e7;
    /* padding: 2px; */
    height: 70px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding-left: 10px;
}

.promise_table_body{
    margin: 10px;
}
.promise_table{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  .promise_table td{
    border: 1px solid #d8e0e7;
    font-family: "Open Sans";
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    color: #6b7c93;
    vertical-align: middle;
}
  .promise_body{
    padding: 15px;
    margin: auto;
  }
  
  .first_head th{
      height: 50px;
      font-size:25px;
      text-align: center;
      background-color: #2980B9;
      color: #ffffff;
      font-weight: 700;
      font-family: "Open Sans";
      font-weight: 600;
      cursor: default;
      border: 1px solid #d8e0e7;
  }
  
  .second_head th{
    border-right: 1px solid black;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #0c7dff47;
    color: #6b7c93;
    font-weight: 700;
    font-family: "Open Sans";
    border: 1px solid #d8e0e7;
  }
  
.note_td_edit{
    color: #6b7c93;
    border: none;
    outline: none;
    resize: none;
}
  .submit_all_btn{
      background-color: #0c7dff47;
      color: #393939;
      height: 50px;
      width: 25%;
      color: #6b7c93;
      border: none;
      font-size: 25px;
  }
  
  