body{
  background-color: rgb(242 244 246);
  font-family: Open Sans,sans-serif;
  color:#6b7c93;
}
#header{
    height:40px;
    border:1px solid black;
    font-size: large;
    padding:3px;
    padding-left: 5px;
    margin:auto;

}
#org_body{
    margin: auto;
    margin-top:30px;
    position: relative;
}
#table{
    border: 2px solid #d8e0e7;
    border-collapse: collapse;
    width:600px;
    table-layout: fixed;
    border-spacing: 5px;
    margin:auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.org_name,.create_org_btn{
    width:100%;
    height:40px;
    background-color: transparent;
    cursor: pointer;
    border: white;
    text-align: left;
}
.cont{
  display: flex;
    margin: auto;
    width: 650px;
}
.create_but{
  width: 100%;
  height: 100%;
  background-color: #e5e5f4;
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: #6b7c93;
  cursor: pointer;
  }
#create_org{
  width: 300px;
  height: 30px;
  /* right: 16px; */
  /* float: right; */
  top: 0;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
 
  .table_td{
      margin: 10px;
      border: 2px solid #d8e0e7;
  }
  .org_main{
    position: relative;
    display: flex;
    flex-flow: wrap row;
    margin: 2px 16px 2px 16px;
  }
  .org_logo_container{
    height: 50px;
    width: 50px;
    border: 1px solid #d8e0e7;
    border-radius: 50%;
    overflow: hidden;
  }
  .org_logo_pic{
      width: 100%;
  }
  .org_name_des{
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: white;
    width: 90%;
    text-align: left;
    margin-left: 5px;
  }
  
  .org_list{
    height: 60px;
    cursor: pointer;
  }
  .dis_name{   
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #e5e5f4;
  }
  .org_list:hover{
    background: #0c7dff47;
  }
.org_search{
  position: relative;
  display: flex;
  width: 400px;
  margin: auto;
  margin-bottom: 16px;
  line-height: 1.8;
}
.search{
  height: 30px;
    width: 260px;
    border-radius: 10px;
    background: white;
    padding-left: 16px;
    padding-right: 5px;
    border: 1px solid #d8e0e7;
    overflow: hidden;
 
}
.org_search:focus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search_input{
  width: 100%;
    height: 100%;
    border: none;
}
.top{
  position: relative;
}
.name_only{
  font-weight: 600;
  margin-bottom: 5px;
}