#header{
    height:40px;
    border:1px solid black;
    font-size: large;
    padding:3px;
    padding-left: 5px;
    margin:auto;

}
#detail_body{
    background-color: white;
    margin-top:30px;
    border:1px solid black;
    transform:translate(-130px,0);
    position:absolute;
    z-index:4;
    
}
#table{
    border:1px solid black;
    border-collapse: collapse;
    width:400px;
    table-layout: fixed;
    border-spacing: 5px;
    margin:auto;
    margin-bottom: 10px;
}
th,td{
    border:1px solid black;
    padding:5px;

}
td{
    padding-left: 10px;
}
th{
    background-color: cadetblue;
}
#no{
    width:15px;
}
#name{
    width:200px;
}
.name_td{
    padding:0px;
}

.org_name,.create_org_btn{
    width:100%;
    height:30px;
    background-color: white;
    cursor: pointer;
    border: white;
    text-align: left;
}