#title{
    height:40px;
    border:1px solid black;
    padding:4px;
    font-size: 25px;
    font-weight: 600;
}
#content{
    border:1px solid black;
}
#posts{
    width:75%;
    min-height: 100px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border:1px solid black;
}
#post_title{
    border:1px solid black;
    height:40px;
    padding:2px;
    margin:3px;

}
#post_content{
    margin:3px;
    border:1px solid black;
    padding:2px;

}
#new_post{
    width: 70%;
    min-height: 100px;
    border: 1px solid black;
    margin:auto;
    padding-right:6px;
    font-size: 0;
}
#post_text_area{
    width: 100%;
    height: 60px;
    margin:auto;
    resize:none;
}
#submit{
    width:100px;
    height:30px;
    margin:auto;
    align-content: stretch;
}
.post_btn{
    width: 100px;
    position: relative;
    display: inline-block;
    padding: 6px 8px 7px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#tag_container{
    width: 0;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    vertical-align: top;
    background-color: white;
}
#preview{
    width:70%;
}
#image_container{
    text-align: center;
}
#post_image{
    width:70%;
}
#post_image_container{
    text-align: center;
}

/*------------ comment box -----------*/
.comment_box_container{
    border:1px solid black;
    display:none;
}
.comment_box_active{
    display:block;
}
.comment_container{
    margin:2px;
    padding:2px;
    border:1px solid black;
}
.comment_input{
    height: 25px;
    width: 90%;
    margin: 2px;
}
.send_btn{
    display: inline-block;
    margin:auto;
    width: 50px;
    height: 25px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    padding:1px 6px;
    cursor: pointer;
}

/* --------- page loader --------------*/
.page_loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin:auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#tag_inner_container{
    display: flex;
}
  #tag_content,#tag_topic_container{
      display: inline-block;
  }
#tag_content{
    display: flex;
}
.post_select{
    height: 29px;
    outline: none;
}