#requester_div{
    margin: auto;
    border:1px solid black;
    margin-top: 10%;
    width: 40%;
}
.request_col1, .request_col2{
    padding: 5px;
    margin: 10px;
}
#requester_tab{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#requester_head{
    font-size: large;
}