@media screen and (min-width: 480px) {
    .sticker {
        position: fixed; 
        overflow: hidden;
        width: 100%;
      }
    }
.side_nav_container{
    min-height: 94vh;
    overflow: hidden;
    transition-duration: 1.5s; 
    background-color: white;
    position: absolute;
    max-height: 100%;
    transition-property: top,bottom,width;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
    border-top: none;
    right: 0;
    z-index: 2;
    /*box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    */
    box-shadow: 0px 16px 12px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    width: 0;
    background: #fff;
    font-family: Open Sans,sans-serif;
    color: #6b7c93;
    height: calc(100vh - 92px);
    overflow-y: auto;
}
.back_img{
    position: absolute;
    opacity: 0.2;
    width: 300px;
    height: 100%;

}
.fixed_side_nav{
    position: fixed;
    top: 52px;
    height: calc(100vh - 52px);
    overflow-y: auto;
}
.show_side_nav{
    width:300px;
    
}
.fill_side_nav{
    width:300px;
    padding: 5px;
}
#other_mem_header{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    position: relative;
    z-index: 4;
    text-transform: uppercase;
    padding: 10px 5px;
    color: #6b7c93;
    white-space: nowrap;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
}
.show_side_nav #other_mem_header:after {
    content: "";
    color: #6b7c93;
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}
#side_nav_table{
    width: 100%;
    border-collapse: inherit;
    margin: 0;
    position: relative;
    height: calc(100vh - 180px);
    z-index: 4;
    padding: 0 5px 30px 2px;
    touch-action: auto;
    overflow: hidden!important;
    transition-property: top,bottom,width;
    transition-duration: .2s,.2s,.35s;
    transition-timing-function: linear,linear,ease;
}
#side_nav_table td{
    font-size: 12px;
    padding: 0px 0px;
    height: 25px;
    border: none;
}
.side_nav_profile{
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 25px;
    padding: 1px 0px;
    width: 25px;
    text-transform: none;
    display: inline-block;
}
.side_nav_a, a.side_nav_a:visited, a.side_nav_a:active{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 12px;
    padding: 3px;
    color: #6b7c93;
}
a.side_nav_a:hover{
    color: rgb(55, 113, 146);
}
.last_seen{
    font-size: 10px;
    min-width: 39px;
    display: inline-block;
    color: green;
    height: 25px;
}
.user_row{
    height: 25px;
    display: table-row-group;
    border: none;
    width: 100%;
}
.user_row:hover{
    background-color: rgba(0, 0, 0, .05);
}
.user_name, .last_seen_data{
    margin: 0;
    line-height: 2;
    position: relative;
    vertical-align: baseline;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user_name:hover{
    cursor: pointer;
}
