.table_suggested_area {
  border-collapse: collapse;
  max-width: 500px;
  margin: auto;
  margin-bottom: 5px;
  border-collapse: collapse;
}
.table_suggested_area_tr:hover td{
  background: #f2f2f2;
}
.table_suggested_area_th, .table_suggested_area_td {
  border: 1px solid #d8e0e7;
  text-align: left;
  font-family: "Open Sans",sans-serif;
  height: 37px;
  font-size: 16px;
  line-height: 1;
  padding: 5px;
  vertical-align: middle;
  color: #6b7c93;
    background: white;
}
.table_suggested_area_th{
  background-color: #0c7dff47;
  border: 1px solid white;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  height: 37px;
  line-height: 1.8;
  padding: 5px;
  margin: 0;
  vertical-align: middle;
  font-weight: 600;
}
.my_suggest_del, .my_suggest_del:hover{
  color: #6b7c93;
}
.table_suggested_area_tr{
  cursor: pointer;
}
.table_suggested_area tr:hover{
  background-color: #f2f2f2;
}
.my_suggest_cont{
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 5px;
  background: rgb(242 244 246);
}

.my_suggest_table_cont{
  display: inline-block;
  width: 50%;
  height: 400px;
  overflow: auto;
  margin: 5px;
}
.my_suggest_map_cont{
  width: 50%;
  /*width: 600px;
  height: 400px;*/
}
.selected_row > td,.selected_row:hover > td, .selected_row .my_suggest_del {
  background-color: #6b7c93;
  color:#f2f2f2;
}