#org_body{
    border:1px solid black;
    margin: auto;
    width: 250px;
}
.view_org_table{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid black;
    width:250px;
    border-collapse: collapse;
}
.loader{
    border:2px solid rgb(202, 202, 202);
    border-radius: 50%;
    border-top: 2px solid rgb(65, 65, 65);
    width:10px;
    height:10px;
    margin:5px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#detail{
    background-color: #9fb5de;
    text-align: center;
    padding: 5px;
}