.promise_table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.promise_table td {
    border: 1px solid #d8e0e7;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    background-color: white;
}

.promise_body {
    padding: 15px;
    margin: auto;
}

.first_head th {
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #2980B9;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: default;
    border: none;
}

.second_head th {
    height: 50px;
    font-size: 18px;
    text-align: center;
    background-color: #0c7dff47;
    color: #393939;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #d8e0e7;
}

.our_pro_btn{
    background-color: #0c7dff47;    
    width: 150px;
    border: none;
    color: #6B7C93;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    
    font-weight: 600;
}

.edit_pro{
    width: 100px;
}

.edit_pro_btn{
    margin: 10px;
}
.our_pro_btn_div{
    position: relative;
    display: flex;
}
#edit_form{
    display: flex;
}

.our_promise_table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    
}
.our_promise_table td {
    border: 1px solid #d8e0e7;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    background-color: white;
}
.our_promise_body{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 80%;
    background-color: white;
}
/* The check_cont */
.check_cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: -5px -14px 15px 18px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check_cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check_cont:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check_cont input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check_cont input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check_cont .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
