#table_caontainer{
    width: 50%;
}
#table{
    border:1px solid black;
    border-collapse: collapse;
    margin:auto;
    margin-top:20px;
}
td.view_event_td{
    border:1px solid black;
    height: 20px;
    padding:2px;
}
#column1{
    width:150px;
}
#column2{
    width:300px;
}
#event_header{
    height:150px;
    border:1px solid black;
    background-color: skyblue;
}
#title_box{
    display:flex;
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
}
#status{
    margin:auto;
    margin-right: 5px;
    font-size: 0;
}
.switch{
    position: relative;
    display: inline-block;
    width:60px;
    height:34px;
    font-size: 18px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(55, 230, 84);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: rgb(231, 74, 74);
}
input:focus + slider{
    box-shadow: 0 0 1px rgb(231, 74, 74);
}
input:checked + .slider:before{
    -webkit-transform:translateX(26px);
    -ms-transform: translateX(26px);
    transform:translateX(26px);
}
.switch_container{
    font-size: 0;
    border:1px solid black;
    
}
.indicator{
    display: inline-block;
    width:70px;
    height:34px;
    font-size: 18px;
    background-color: rgb(55, 230, 84);
    border-left: 2px solid white;
}
#mark,#request_help,#volunteer{
    height:34px;
    width:200px;
    font-size: 18px;
}
#detail_body{
    display:flex;
    background-color: rgb(222, 237, 243);
    border:1px solid black;
}
#news_field{
    border: 1px solid black;
    padding:10px;
    margin:3px;
    width:50%;
}
#pictures{
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    background-color: rgb(229, 239, 243);
}
#social_events{
    display: flex;
    border:1px solid black;
}
#affected,#help_requested,#organizations{
    border:1px solid black;
    margin:2px;
    min-height: 200px;
}
#affected{
    width:40%;
}
#help_requested{
    width:30%;
}
#organizations{
    width:30%;
}


#help_btn{
    position: relative;
    display:inline-block;
}
#help_request_option{
    height:34px;
    width:200px;
    font-size: 18px;
    color: black;
}
#changeRequest{
    display:none;
    position: absolute;
    z-index: 1;
}
#help_btn:hover #changeRequest{
    display: block;
}
#help_btn:hover #help_request_option{
    background-color: rgb(190, 190, 190);
}



#volunteer_btn{
    position:relative;
    display: block;
}
#volunteer_option{
    height:34px;
    width:200px;
    font-size: 18px;
    color: black;
}
#changeVolunteer{
    display:none;
    position: absolute;
    background-color: lightblue;
    min-width: 180px;
    box-shadow: 0px 8x 16px 0px rgb(0, 0, 0);
    z-index: 1;
}
#volunteer_btn:hover #changeVolunteer{
    display: block;
}
#volunteer_btn:hover #volunteer_option{
    background-color: rgb(190, 190, 190);
}



.drop_dwn{
    display: block;
    width:180px;
    height: 30px;
    font-size: 16px;
    border: 1px solid black;
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}


#data{
    min-height: 35px;
    display: block;
    position: relative;
    font-size: 18px;
    cursor: default;
}
#requested_container{
    display:none;
    z-index: 2;
    position: absolute;
    margin-left: 10px;
}
#requested_container button{
    border:1px solid black;
    width: 200px;
    min-height: 25px;
    cursor: pointer;
    background-color: white;
}
#indi_prom_btn{
    outline: none;
    height: 33px;
    font-size: 18px;
    position: absolute;
    right: 220px;
    top: 93px;
}

/*---------------popup loader ------------------------ */

.popup_loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    
}
#indi_prom_btn{
    outline: none;
    height: 33px;
    font-size: 18px;
    position: absolute;
    right: 220px;
    top: 93px;
}