body{
    background-color: rgb(242 244 246);
    font-family: Open Sans,sans-serif;
    color:#6b7c93;
  }
  /* width */
  div::-webkit-scrollbar {
    width: 9px;
    
  }
  
  /* Track */
  div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
    border-radius: 10px;
  }
   
  /* Handle */
  div::-webkit-scrollbar-thumb {
    background: rgb(209, 207, 207); 
    border-radius: 10px;
    border: 1px solid #bbb;
  }
  
  /* Handle on hover */
  div::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 198, 198); 
  }
#table_caontainer{
    width: 30%;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}
#view_event_table{
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 2px;
    padding: 5px;
    width: 100%;
    background: white;
}
.head{
    background-color: #0c7dff47;
    border: 1px solid #d8e0e7;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    height: 37px;
    line-height: 1;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
}
td.view_event_td, #column2{
    border: 1px solid #d8e0e7;
    text-align: left;
    font-family: "Open Sans",sans-serif;
    height: 37px;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    color:#6b7c93;
}
#column1{
    width:150px;
}

#event_header{
    height:150px;
    border:1px solid black;
    background-color: skyblue;
}
#title_box{
    display:flex;
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
}
#status{
    margin:auto;
    margin-right: 5px;
    font-size: 0;
}
.switch{
    position: relative;
    display: inline-block;
    width:60px;
    height:34px;
    font-size: 18px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(55, 230, 84);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: rgb(231, 74, 74);
}
input:focus + slider{
    box-shadow: 0 0 1px rgb(231, 74, 74);
}
input:checked + .slider:before{
    -webkit-transform:translateX(26px);
    -ms-transform: translateX(26px);
    transform:translateX(26px);
}
.switch_container{
    font-size: 0;
    border:1px solid #ececec;
    
}
.indicator{
    display: inline-block;
    width:70px;
    height:34px;
    font-size: 18px;
    background-color: rgb(55, 230, 84);
    border-left: 2px solid white;
}
#mark,#request_help,#volunteer{
    height:34px;
    width:200px;
    font-size: 18px;
}
#event_body{
    display:flex;
}
#pictures{
    border: 1px solid #d8e0e7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3px;
    /* margin: 3px; */
    width: 70%;
    background: white;
}
#news_field{
    width: 100%;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #d8e0e7;
    background: white;
}
#social_events{
    display: flex;
    margin: 16px 0
}
#affected,#help_requested,#organizations{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:2px;
    min-height: 200px;
    height: 225px;
    overflow: auto;
    background: white;
}
#affected{
    width:33%;
}
#help_requested{
    width:33%;
}
.person_a{
    display: inline-block;
    color:#6b7c93;
    width: 100%;
    height: 100%;
    line-height: 1.5;
}
#organizations{
    width:33%;
}


#help_btn{
    position: relative;
    display:inline-block;
}
#help_request_option{
    height:34px;
    width:200px;
    font-size: 18px;
    color: black;
}
#changeRequest{
    display:none;
    position: absolute;
    z-index: 1;
}
#help_btn:hover #changeRequest{
    display: block;
}
#help_btn:hover #help_request_option{
    background-color: rgb(190, 190, 190);
}



#volunteer_btn{
    position:relative;
    display: block;
}
#volunteer_option{
    height:34px;
    width:200px;
    font-size: 18px;
    color: black;
}
#changeVolunteer{
    display:none;
    position: absolute;
    background-color: lightblue;
    min-width: 180px;
    box-shadow: 0px 8x 16px 0px rgb(0, 0, 0);
    z-index: 1;
}
#volunteer_btn:hover #changeVolunteer{
    display: block;
}
#volunteer_btn:hover #volunteer_option{
    background-color: rgb(190, 190, 190);
}



.drop_dwn{
    display: block;
    width:180px;
    height: 30px;
    font-size: 16px;
    border: 1px solid black;
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}


#data{
    min-height: 35px;
    display: block;
    position: relative;
    font-size: 18px;
    cursor: default;
}
#requested_container{
    display:none;
    z-index: 2;
    position: absolute;
    margin-left: 10px;
}
#requested_container button{
    border:1px solid black;
    width: 200px;
    min-height: 25px;
    cursor: pointer;
    background-color: white;
}
.other_menu_container{
    position: relative;
    right: 220px;
    top: 93px;
}
.other_menus{
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    height: 33px;
    line-height: 33px;
    font-size: 18px;
    padding: 0 2px 0 2px;
    
}

/*---------------popup loader ------------------------ */

.popup_loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    
}
#map_container{
    height: 500px;
}