#table_caontainer{
    width: 50%;
}
#table{
    border:1px solid black;
    border-collapse: collapse;
    margin:auto;
    margin-top:20px;
}
td,th{
    border:1px solid black;
    height: 20px;
    padding:2px;
}
#column1{
    width:150px;
}
#column2{
    width:300px;
}
#event_header{
    height:150px;
    border:1px solid black;
    background-color: skyblue;
}
#title_box{
    display:flex;
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
}
#status{
    margin:auto;
    margin-right: 5px;;
}
.switch{
    position: relative;
    display: inline-block;
    width:60px;
    height:34px;
    font-size: 18px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(55, 230, 84);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: rgb(231, 74, 74);
}
input:focus + slider{
    box-shadow: 0 0 1px rgb(231, 74, 74);
}
input:checked + .slider:before{
    -webkit-transform:translateX(26px);
    -ms-transform: translateX(26px);
    transform:translateX(26px);
}
.switch_container{
    font-size: 0;
    
}
.indicator{
    display: inline-block;
    width:70px;
    height:34px;
    font-size: 18px;
    background-color: rgb(55, 230, 84);
    border-left: 2px solid white;
}
#mark,#request_help,#volunteer{
    height:34px;
    width:200px;
    font-size: 18px;
}
#detail_body{
    display:flex;
    background-color: rgb(222, 237, 243);
    border:1px solid black;
}
#news_field{
    border: 1px solid black;
    padding:10px;
    margin:3px;
    width:50%;
}
#pictures{
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    background-color: rgb(229, 239, 243);
}
#social_events{
    display: flex;
    border:1px solid black;
}
#affected,#help_requested,#organizations{
    border:1px solid black;
    margin:2px;
    min-height: 200px;
}
#affected{
    width:40%;
}
#help_requested{
    width:30%;
}
#organizations{
    width:30%;
}