.volun_col1, .volun_col2{
    padding: 5px;
    margin: 10px;
}
.name_anchor{
    color: white;
}

.volunteer_head{
    height: 60px;
    font-weight: 600;
    padding: 16px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    background-color:#2980B9;
    font-family: "Open Sans",sans-serif;
}

.main_container{
    width: 500px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0 auto;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    margin-top: 5%;

}
.volunteer_detail_table{
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    color: #393939;
    font-size: 16px;
    width: 450px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.volunteer_detail_table td{
    border: 1px solid #d8e0e7;
}
.volunteer_detail_table td:first-child{
    width: 223px;
}
.voluteer_table_div{
    padding: 20px;
    background:white;
}
