#volunteer_div{
    margin: auto;
    border:1px solid black;
    margin-top: 10%;
    width: 40%;
}
.volun_col1, .volun_col2{
    padding: 5px;
    margin: 10px;
}
#volunteer_tab{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#volunteer_head{
    font-size: large;
}