.new_member{
    position: absolute;
    border: none;
    right: 10px;
    padding: 10px;
    width: 235px;
    outline: none;
    background: #0c7dff47;
    top: 120px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.tag{
    padding-left:10px;
    color: black; 
    font-size: 20px;
    text-decoration:none;
}


.civilian_table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}
  
.civilian_table th,.civilian_table td {
    border: 1px solid #d8e0e7;
    color:  #6b7c93;
    position: relative;
    padding: 10px;
}
.civilian_table th{
    font-size: 16px;
    text-align: center;
    background-color: #0c7dff47;
}

.civilian_table td:last-child{
    width: 100px;
    cursor: pointer;
    text-align: center;
}
 
.civi_detail{
    display: table;
    margin: auto;
    margin-top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.civilian_name{
    background: transparent;
    position: absolute;
    width: calc(100% + 171px);
    left: 0;
    top: 0;
    border: none;
    height: 40px;
    color: #6b7c93;
    text-align: left;
    font-size: 16px;
    font-family: "Open -Sans",sans-serif;
    cursor: pointer;
    outline: none;
    z-index: 1;
}

.nic_row{
    width:150px;
}

