#event_header{
  display: flex;
  height:50px;
  background-color: white;
}
#title_box{
  display:flex;
  margin-top:10px;
  margin-left: 10px;
  font-size: 30px;
}
.edit_button,.close_button{
  background:none;
  outline: none;
  border: none;
  width: 50px;
}
.detail_body{
width: 50%;
}
.edit_close_btn_div{
  align-content: flex-end;
  border-radius: 5px;
  margin: auto;
  padding: 2px;
  display: flex;
  margin-right: 0px;
}
.edit_close_btn_div span{
  font-size: 20px;
}
.edit_close_btn_div form{
  width: 100px;
}

.event_table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

.event_table th, td {
  border: 1px solid #d8e0e7;
  color:  #6b7c93;
  position: relative;
  padding: 10px;
  font-family: "Open Sans",sans-serif;

}

.event_table th {
  font-size: 16px;
  text-align: center;
  background-color: #0c7dff47;
}

.table_container{
  display: table;
border-collapse: collapse;
box-sizing: border-box;
border-spacing: 2px;
padding: 5px;
width: 95%;
background: white;
}
.event_body{
  margin: auto;
  padding: 15px;
  font-size: medium;
  display: flex;
  flex-flow: wrap row;
}

.fund_head{
height: 41px;
width: 100%;
text-align: center;
line-height: 2.3;
font-size: 18px;
font-weight: 600;
background: #0c7dff47;
}
.fund_image_conatainer, .new_photo_container{
  width: 120px;
  height: 120px;
  position: relative;
  margin: 5px;
  background: white;
}
.img_type{
  position: absolute;
  color: white;
  top: 4px;
  left: 4px;
  font-size: 12px;
}
.img_cont{
  width: 50%;
  display: flex;
  flex-flow: wrap row;
}
.fund_pic{
  width: 100%;
}

.fund_image{
  overflow: hidden;
  width: 120px;
  height: 120px;
}
#img_edit_btn_container{
  width: 120px;
  height: 120px;
  margin: 5px;
}
#edit_img_btn{
  width: 100%;
  height: 100%;
  color: #6b7c93;
  border: 1px solid #6b7c93;
  border-radius: 5px;
  cursor: pointer;
}