
#event_header{
    display: flex;
    height:50px;
    background-color: white;
}
#title_box{
    display:flex;
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
}
.edit_button,.close_button{
    background:none;
    outline: none;
    border: none;
    width: 50px;
}

.edit_close_btn_div{
    align-content: flex-end;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
    display: flex;
    margin-right: 0px;
}
.edit_close_btn_div span{
    font-size: 20px;
}
.edit_close_btn_div form{
    width: 100px;
}

.event_table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}
  
.event_table th, td {
    border: 1px solid #d8e0e7;
    color:  #6b7c93;
    position: relative;
    padding: 10px;
    font-family: "Open Sans",sans-serif;
  
}

.event_table th{
    font-size: 16px;
    text-align: center;
    background-color: #0c7dff47;
}

.table_container{
    width: 450px;
    position: absolute;
    margin: auto;
    top: 170px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
